html, body, main {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Enlaces Start*/

a{
  color: #0745ff;
  text-decoration: none;
} 

a:focus, a:hover{
  text-decoration: none;
}

/*End*/

.cl{
  margin: 15% auto;
}

.containercito {
  height: 100%;
  margin: auto;
}

.jumbotron {
  margin-bottom: 0rem;
  padding: 0rem 0rem;
}

.container-fluid{
  display: flex;
  justify-content: center;
}

/* By Valentin Galmand*/

 .textico{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  color: #23282c;
  transform: translate(-50%, -50%);
  font-weight: normal;
}

.opt {
  width: 255px;
  height: 350px;
  padding: 15px 35px;
  border: none;
  position: relative;
  cursor: pointer;
  margin: 17vh 3vw;
  display: block;
  background-color: #ffc107;
}

.opt:after, .opt:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 3px solid #23282c;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.opt:after {
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
}

.opt:before {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.opt:hover:after, .opt:hover:before, .text{
  -webkit-transform: translate(0);
          transform: translate(0);
}

/* CodePen: https://codepen.io/valentingalmand/pen/ggKrpY  */

/* By: Derek Morash */

.btnito {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  align-self: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #4dbd74;
  border-radius: 0.4em;
  color: #4dbd74;
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  padding: 0.4em 1.2em 0.5em;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
}

.btnito:hover {
  color: #fff;
  outline: 0;
}

.cu  {
  border-color: #4dbd74;
  color: #4dbd74;
  background-image: linear-gradient(90deg, #4dbd74 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: 400ms ease-in-out;
}
.cu:hover {
  background-position: 0;
}

/* CodePen: https://codepen.io/derekmorash/pen/XddZJY/*/

/* Quitar fleclas de campos 'numbers'*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

h4.miven {
  margin: 0 20% 0 30%;
}

h3.miven {
  padding: 0 40%;
}

/* Tooltip */

#screenshot{
  position: absolute;
  border: 1px solid #ccc;
  background: #333;
  padding: 5px;
  display: none;
  color: #fff;
  border-radius: 30px;
}

/* End Tooltip*/

/*------------------------------------*\
    By: Levin Mejia

    RESET
\*------------------------------------*/
/* https://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */
    
    /*------------------------------------*\
        $MAIN
    \*------------------------------------*/
    
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
    
    /* Typography */
    
    section.products h1 {
      font-size: 28px;
      font-weight: 300;
      flex: 1;
    }
    
    section.products h5 {
      font-weight: 500;
      line-height: 1.7em;
    }
    
    section.products h6 {
      color: #666;
      font-size: 14px;
    }
    
    /* Product Layout */
    
    .collection-sort {
     display: flex;
      flex-direction: column;
    }
    
    .collection-sort:first-child {
      padding-right: 20px;
    }
    
    label {
      color: #666;
      font-size: 10px;
      font-weight: 500;
      line-height: 2em;
      text-transform: uppercase;
    }
    
    .products {
      display: flex;
      flex-wrap: wrap;
    }
    
    .product-card {
      display: flex;
      flex-direction: column;
      
      padding: 2%;
      flex: 1 16%;
      
      background-color: #FFF;
      box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
    }
    
    .product-image img {
      width: 100%;
    }
    
    .product-info {
      margin-top: auto;
      padding-top: 20px;
      text-align: center;
    }
    
    @media ( max-width: 920px ) {
      
      .product-card {
        flex: 1 21%;
      }
      
      .products .product-card:first-child, 
      .products .product-card:nth-child(2) {
        flex: 2 46%;
      }
      
    }
    
    @media ( max-width: 600px ) {
      
      .product-card {
        flex: 1 46%;
      }
      
    }
    
    @media ( max-width: 480px ) {
      
      div > h1 i.fas.fa-thumbtack {
        margin-bottom: 20px;
      }
      
      .cc {
        flex-direction: column;
      }
      
    }

/* CodePen: https://codepen.io/levinmejia/pen/zrddrv*/