body{
	font-family: 'Source Code Pro', monospace;
	background-color: black; 
	background-image: url(http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg); 
	color: rgb(218, 214, 214);
	padding-bottom: 0;
	border-bottom: 0;
	margin-bottom: 0;
}
.navbar-nav a, .navbar-header a{
	color: #046b6d;
	text-decoration:bold;
}
.navbar-header a:hover, .nav>li>a:hover{
	background-color: rgb(46, 45, 45);
	color:rgb(233, 214, 214);
	text-decoration: underline;
}
.table {
	background-color: rgba(255,255,255,0.1);
}
nav li.logo {
	height: 10%;
	float: right;
}
#logo{
	margin: 20px;
	height: 100px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}